# Jim Crivello's Module 4 Project - Part 1

## Task1 - Series

In [1]:
import pandas as pd

In [2]:
grades = pd.Series([95, 86, 74, 88, 92, 98, 93])

In [3]:
grades[0]

95

In [4]:
grades.count()

7

In [5]:
grades.mean()

89.42857142857143

In [6]:
grades.min()

74

In [7]:
grades.max()

98

In [8]:
grades.std()

7.913219801006895

In [9]:
grades.describe()

count     7.000000
mean     89.428571
std       7.913220
min      74.000000
25%      87.000000
50%      92.000000
75%      94.000000
max      98.000000
dtype: float64

## Task 2 - Series from Dictionary

In [10]:
grades = pd.Series([87, 100, 94], index=['Wally', 'Eva', 'Sam'])

In [11]:
grades

Wally     87
Eva      100
Sam       94
dtype: int64

In [12]:
grades = pd.Series({'Wally': 87, 'Eva': 100, 'Sam': 94})

In [13]:
grades

Wally     87
Eva      100
Sam       94
dtype: int64

In [14]:
print("Eva's grade")

Eva's grade

In [15]:
grades['Eva']

100

In [16]:
grades.Wally

87

In [17]:
grades.dtype

dtype('int64')

In [18]:
grades.values

array([ 87, 100,  94], dtype=int64)

## Self Check

In [19]:
import numpy as np

In [20]:
import pandas as pd

In [21]:
temps = np.random.randint(60, 101, 6)

In [22]:
temperatures = pd.Series(temps)

In [23]:
temperatures

0    66
1    88
2    75
3    66
4    95
5    76
dtype: int32

In [24]:
temperatures.min()

66

In [25]:
temperatures.max()

95

In [26]:
temperatures.mean()

77.66666666666667

In [27]:
temperatures.describe()

count     6.000000
mean     77.666667
std      11.741664
min      66.000000
25%      68.250000
50%      75.500000
75%      85.000000
max      95.000000
dtype: float64